<div class="container mt-4">
  <mat-card class="customer-card">
    <mat-card-header>
      <mat-card-title>Products </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <mat-card class="" *ngFor="let item of products">
          <mat-card-header>
            <mat-card-title>
              <h2>{{item.name}}</h2>
            </mat-card-title>
          </mat-card-header>
          <hr>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
