<div class="container mt-4">
  <mat-card class="customer-card">
    <mat-card-header>
      <mat-card-title>Sell Product</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="d-flex justify-content-center row">
        <mat-horizontal-stepper labelPosition="bottom" #stepper class="w-100">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Select Customer</ng-template>
              <app-list-customers (getUserData)="getData($event)"> </app-list-customers>
              <div class="d-flex justify-content-end mr-2 mt-2">
                <button mat-raised-button color="accent" matStepperNext [disabled]="custBtnStatus">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Add Products</ng-template>
            <div class="d-flex justify-content-end text-bold">
              <h6 class="text-uppercase">Customer Name : {{customer.name}}</h6>
            </div>
            <div class="d-flex justify-content-end text-bold">
              <h6>MOBILE : {{customer.mobile}}</h6>
            </div>
            <hr>
            <form [formGroup]="secondFormGroup" class="p-4" style="border:1px solid #c2c2c2">
              <div class="row mt-3" *ngFor="let prop of productMainKeys" [formGroupName]="prop.id">
                <div class="col-md-2">
                  <h4 class="text-uppercase">{{prop.id}} <small style="font-size: x-small;" class="text-muted">/{{prop.mass}}</small></h4>
                </div>
                <div class="col-md-4" *ngFor="let prop1 of sellArr">
                  <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>{{prop1}} </mat-label>
                    <input matInput type="number" [formControlName]="prop.id+'_'+prop1" (keyup)="calcPrice($event,prop.id)">
                  </mat-form-field>
                </div>
                <h6 class="col-md-2 price ">
                  {{prop.total | currency:'INR' }}
                </h6>
              </div>
              <hr>
              <div class="d-flex justify-content-end mr-2 mt-2">
                <h3>Grand Total: <span class="price">{{grandTotal | currency:'INR'}} </span> </h3>
              </div>
              <hr>
              <div class="d-flex justify-content-end mr-2 mt-2">
                <!--<button mat-button matStepperPrevious>Back</button>-->
                <button [disabled]="grandTotalStatus" mat-raised-button color="accent" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <div class="p-4" style="border:1px solid #c2c2c2">
              <ng-template matStepLabel>Summary</ng-template>
              <div>
                <div class="d-flex justify-content-end text-bold">
                  <h6 class="text-uppercase">Customer Name : {{customer.name}}</h6>
                </div>
                <div class="d-flex justify-content-end text-bold">
                  <h6>MOBILE : {{customer.mobile}}</h6>
                  <h2></h2>
                </div>
              </div>
              <hr>
              <div class="row mt-3" *ngFor="let prop of productMainKeys">
                <div class="col-md-2">
                  <h4 class="text-uppercase">{{prop.id}} <small style="font-size: x-small;" class="text-muted">/{{prop.mass}}</small></h4>
                </div>
                <div class="col-md-4">
                  <mat-label>Quantity </mat-label>
                  <h6>{{prop.quantity | json}}</h6>
                </div>
                <div class="col-md-4">
                  <mat-label>Price </mat-label>
                  <h6>{{prop.price | json}}</h6>
                </div>
                <h6 class="col-md-2 price d-flex justify-content-end ">
                  {{prop.total | currency:'INR' }}
                </h6>
              </div>
              <div class="d-flex justify-content-end mr-2 mt-2">
                <h3>Grand Total: <span class="price">{{grandTotal | currency:'INR'}} </span> </h3>
              </div>
              <div class="d-flex justify-content-end mr-2 mt-2">
                <!--<button mat-button matStepperPrevious>Back</button>-->
                <button mat-raised-button color="accent" (click)="saveProductSell(stepper)" [disabled]="summaryBtnStatus">{{summaryBtnText}}</button>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Payment</ng-template>
            <div>
              <div class="d-flex justify-content-end text-bold">
                <h6 class="text-uppercase">Customer Name : {{customer.name}}</h6>
              </div>
              <div class="d-flex justify-content-end text-bold">
                <h6>MOBILE : {{customer.mobile}}</h6>
                <h2></h2>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end mr-2 mt-2">
              <h3>Grand Total: <span class="price">{{grandTotal | currency:'INR'}} </span> </h3>
            </div>
            <hr>
            <div>
              <h3>Payment</h3>
              <form (ngSubmit)="savePayment()" [formGroup]="paymentFormGroup" class="customer-form">
                <div class="col-md-12">
                  <mat-checkbox formControlName="full_paid">Full Paid</mat-checkbox>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="col-md-6" appearance="fill">
                    <mat-label>Amount Paid </mat-label>
                    <input formControlName="amount_paid" autofocus matInput type="number" required />
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="col-md-6" appearance="fill">
                    <mat-label>Pending Amount </mat-label>
                    <input [readonly]="pendingStatus" formControlName="pending_amount" matInput type="number" />
                  </mat-form-field>
                  <mat-form-field class="col-md-6" appearance="fill">
                    <mat-label>Next Payment Date </mat-label>
                    <input [disabled]="pendingDueStatus" formControlName="next_payment" [matDatepicker]="picker" autofocus matInput />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <button mat-raised-button color="accent" [disabled]="paymentBtnStatus" matStepperNext>{{paymentBtnText}}</button>
                </div>
              </form>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </mat-card-content>
  </mat-card>
</div>
