/* You can add global styles to this file, and also import other style files */

$accent:#ff4081;
$primary:#3f51b5;

html,
body {
  height: 100%;
  background-color: #ededed !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.customer-form {
  width: 50%;
}

.accent-snackbar {
  color: $accent;
  font-weight: 600;
}
